<h1>メッセージ 一覧</h1>
<%= link_to "投稿画面へ", new_message_path %>
<% @messages.each do |message| %>
  <p>
    <%= message.title %>
    <%= link_to "詳細", messages_path(message.id)%>
    <%= link_to "編集", edit_message_path(message.id)%>
    <%= link_to "削除", messages_path(message.id), method: :delete, data:{confirm: "削除しますか"}%>
  </p>
<% end %>